In [12]:
l = [['g',12],['a',45],['b',1]]

In [14]:
l.sort()

In [15]:
l

[['a', 45], ['b', 1], ['g', 12]]

In [7]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName("sample").getOrCreate()

In [10]:
s = spark.sparkContext

In [11]:
type(s)

pyspark.context.SparkContext

In [17]:
rd = s.parallelize(l)

In [19]:


rd.collect()

[['a', 45], ['b', 1], ['g', 12]]

In [20]:
type(rd)

pyspark.rdd.RDD

In [21]:
df = rd.toDf()

AttributeError: 'RDD' object has no attribute 'toDf'

In [36]:
n = 999999937

val = True

for i in range(2,n):
    if n%i==0:
        val = False
        break
        
if val:
    print('prime')
else:
    print('non prime')

KeyboardInterrupt:

In [37]:
print('printing')

printing

In [38]:
name = 'sSAJBSDH'

In [39]:
name.swapcase()

'Ssajbsdh'

In [41]:
import numpy as np

In [46]:
ar = np.array([[1,23],[23,1]])

In [52]:
ar[0,1]

23

In [53]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

In [54]:
import pandas as pd

In [56]:
df = pd.DataFrame(mydataset)

In [57]:
df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [58]:
data = [1,2,3]

In [59]:
df1 = pd.DataFrame(data)

In [61]:
df1

   0
0  1
1  2
2  3

In [62]:
data = {'name':['siva','lavanya'],'marks':[10,100]}

In [63]:
df = pd.DataFrame(data)

In [64]:
df

      name  marks
0     siva     10
1  lavanya    100

In [65]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [66]:
myvar

day1    420
day2    380
day3    390
dtype: int64

In [68]:
df =pd.read_csv('city.csv')

In [71]:
df.limit()

AttributeError: 'DataFrame' object has no attribute 'limit'

In [72]:
spark

In [73]:
df

             Mumbai  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0             Delhi         NaN         NaN         NaN         NaN
1         Bangalore         NaN         NaN         NaN         NaN
2         Hyderabad         NaN         NaN         NaN         NaN
3         Ahmedabad         NaN         NaN         NaN         NaN
4           Chennai         NaN         NaN         NaN         NaN
..              ...         ...         ...         ...         ...
295       Amaravati         NaN         NaN         NaN         NaN
296       Buxar[34]         NaN         NaN         NaN         NaN
297   Jehanabad[35]         NaN         NaN         NaN         NaN
298  Aurangabad[36]         NaN         NaN         NaN         NaN
299         Gangtok         NaN         NaN         NaN         NaN

[300 rows x 5 columns]

In [74]:
df = spark.read.options(header=True,inferSchema=True).csv('datacsv.csv')

In [75]:
df.show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
| murali|  106|
|    RRR|   10|
|     BH|   12|
|   BH~k|   98|
+-------+-----+

In [78]:
df.select('name').show()

+-------+
|   name|
+-------+
|   siva|
|  siva`|
|lavanya|
| murali|
|    RRR|
|     BH|
|   BH~k|
+-------+

In [89]:
from pyspark.sql.functions import *


df.select(substring('name',1,3)).show()

+---------------------+
|substring(name, 1, 3)|
+---------------------+
|                  siv|
|                  siv|
|                  lav|
|                  mur|
|                  RRR|
|                   BH|
|                  BH~|
+---------------------+

In [90]:
df.show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
| murali|  106|
|    RRR|   10|
|     BH|   12|
|   BH~k|   98|
+-------+-----+

In [100]:
df.select(sum_distinct('marks')).show()

+-------------------+
|sum(DISTINCT marks)|
+-------------------+
|                345|
+-------------------+

In [103]:
df.alias("df1").show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
| murali|  106|
|    RRR|   10|
|     BH|   12|
|   BH~k|   98|
+-------+-----+

In [104]:
df.cache()

DataFrame[Name: string, Marks: int]

In [105]:
df.show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
| murali|  106|
|    RRR|   10|
|     BH|   12|
|   BH~k|   98|
+-------+-----+

In [108]:
df.distinct().show()

+-------+-----+
|   Name|Marks|
+-------+-----+
| murali|  106|
|   BH~k|   98|
|    RRR|   10|
|     BH|   12|
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
+-------+-----+

In [110]:
df.dropDuplicates().show()

+-------+-----+
|   Name|Marks|
+-------+-----+
| murali|  106|
|   BH~k|   98|
|    RRR|   10|
|     BH|   12|
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
+-------+-----+

In [111]:
df.show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|   siva|   19|
|  siva`|  100|
|lavanya|  100|
| murali|  106|
|    RRR|   10|
|     BH|   12|
|   BH~k|   98|
+-------+-----+

In [112]:
df.dtypes

[('Name', 'string'), ('Marks', 'int')]

In [114]:
df.describe()

DataFrame[summary: string, Name: string, Marks: string]

In [115]:
def f(df):
    print(df.name)
    
df.foreach(f)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 56.0 failed 1 times, most recent failure: Lost task 0.0 in stage 56.0 (TID 45) (siva executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:705)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:749)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:673)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:639)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:615)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:572)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:530)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 14 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2293)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:180)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:577)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:705)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:749)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:673)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:639)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:615)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:572)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:530)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 14 more

In [120]:
rd = df.rdd

In [121]:
rd.collect()

[Row(Name='siva', Marks=19),
 Row(Name='siva`', Marks=100),
 Row(Name='lavanya', Marks=100),
 Row(Name='murali', Marks=106),
 Row(Name='RRR', Marks=10),
 Row(Name='BH', Marks=12),
 Row(Name='BH~k', Marks=98)]

In [122]:
df.toPandas

In [123]:
df.orderBy('name').show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|     BH|   12|
|   BH~k|   98|
|    RRR|   10|
|lavanya|  100|
| murali|  106|
|   siva|   19|
|  siva`|  100|
+-------+-----+

In [126]:
df.registerTempTable('tb')

C:\Users\sivar\Anaconda3\lib\site-packages\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [151]:
df1 = df.distinct().select('marks').dropDuplicates().orderBy(df['marks'].desc())

In [163]:
from pyspark.sql.window import Window

windowSpec = Window.orderBy(desc('marks'))


df2 =df1.withColumn('rank',dense_rank().over(windowSpec))

In [166]:
df2.filter(col('rank')==2).show()

+-----+----+
|marks|rank|
+-----+----+
|  100|   2|
+-----+----+

In [167]:
df1.show()

+-----+
|marks|
+-----+
|  106|
|  100|
|   98|
|   19|
|   12|
|   10|
+-----+

In [168]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName('word count').getOrCreate()
sc=spark.sparkContext
in_text=sc.textFile("test.txt")

In [169]:
in_text.collect()

['aaa aaa gg tt']